.card {
  width: 220px;
  margin: 10px;
  display: inline-block;
}

.mat-card-title-group {
    width: 100%;
    padding-right: 24px;
    line-height: 32px;
}

.loading {
    width: 100%;
    height: 100%;
    text-align: center;
}

.loading * {
    margin: auto;
}

.mat-icon.clickable {
    cursor: pointer;
}

.container {
    text-align: center;
}

h1 {
    width: 100%;
}
