<div class="container">
  <mat-toolbar>Crypto Index DIY</mat-toolbar>
  <mat-form-field>
    <input matInput (change)="update()" type="number" min="1" class="form-control" id="amount" required [(ngModel)]="amount"
      name="amount" placeholder="amount" ng-disabled="loading" />
  </mat-form-field>

  <mat-form-field>
    <input matInput (change)="update()" type="number" step="1" min="1" class="form-control" id="count" required [(ngModel)]="count"
      name="count" placeholder="Number of cryptocurrencies" ng-disabled="loading" />
  </mat-form-field>

  <mat-form-field>
    <mat-select (change)="updateMarketData()" [(ngModel)]="currency" placeholder="your currency">
      <mat-option *ngFor="let currency of currencies" [value]="currency">
        {{ currency }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="loading" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="!loading">
    <mat-chip-list>
      <mat-chip *ngFor="let excludedCryptoCurrencySymbol of excludedCryptoCurrencySymbols">
        {{ excludedCryptoCurrencySymbol }}
        <mat-icon (click)="removeExcludedCryptoCurrenciesSymbol(excludedCryptoCurrencySymbol)" class="clickable">cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>

    <div class="row">
      <mat-card *ngFor="let p of portfolio" class="card">
        <mat-card-header>
          <img mat-card-avatar class="card-avatar" src="{{ p | coinMarketCapImage }}" alt="" />
          <mat-card-title-group>
            <mat-card-title>{{ p.name }}</mat-card-title>
          </mat-card-title-group>
          <mat-card-actions>
            <mat-icon (click)="addExcludedCryptoCurrenciesSymol(p.symbol)" class="clickable">cancel</mat-icon>
          </mat-card-actions>
        </mat-card-header>
        <mat-card-content>
          {{ p.portfolioValue | currency: currency }}
        </mat-card-content>
        <mat-card-content>
          {{ p.portfolioAmount }} {{ p.symbol }}
        </mat-card-content>
        <mat-card-footer>
          <mat-progress-bar mode="determinate" value="{{ p.portfolioValueRatio * 100 }}"></mat-progress-bar>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>
</div>