<div class="container">
  <h1 class="mat-display-1">Crypto Index DIY</h1>
  <mat-form-field>
    <input matInput (change)="update()" type="number" class="form-control" id="amount" required [(ngModel)]="amount" name="amount"
      placeholder="amount" ng-disabled="loading" />
  </mat-form-field>

  <mat-form-field>
    <input matInput (change)="update()" type="number" step="1" class="form-control" id="count" required [(ngModel)]="count" name="count"
      placeholder="Number of cryptocurrencies" ng-disabled="loading" />
  </mat-form-field>

  <mat-form-field>
    <mat-select (change)="update(); updateMarketData();" [(ngModel)]="currency">
      <mat-option *ngFor="let currency of currencies">
        {{ currency }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-chip-list>
    <mat-chip *ngFor="let excludedCryptoCurrencySymbol of excludedCryptoCurrencySymbols">
      {{ excludedCryptoCurrencySymbol }}
      <mat-icon matChipRemove>remove</mat-icon>
    </mat-chip>
  </mat-chip-list>
  <mat-icon>home</mat-icon>

  <mat-list>
    <mat-list-item *ngFor="let p of portfolio">
      {{ p.symbol }}
      <mat-icon (click)="addExcludedCryptoCurrenciesSymol(p.symbol)">exclude</mat-icon>
      <br />
      <mat-progress-bar mode="determinate" value="{{ p.portfolioValuePercent * 100 }}"></mat-progress-bar>
    </mat-list-item>
  </mat-list>
</div>